.app {
  background: rgb(238, 238, 238);
  width: 100vw;

  display: grid;
  place-items: center;

  .app-container {
    max-width: 400px;
    width: 100%;

    background: rgb(253, 253, 253);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: scroll;
    img {
      object-fit: contain;
      width: 120px;
    }
    .signUp {
      display: flex;
      flex-direction: column;
      // background: rgb(156, 130, 130);
      width: 80%;
      padding: 10px 20px;

      input {
        padding: 8px;

        border-radius: 6px;
        border: 1px solid rgba(184, 182, 182, 0.521);
        font-size: 1.1rem;
        margin-bottom: 5px;
        &:focus {
          outline: none;
        }
        &:first-child {
          text-transform: capitalize;
        }
      }
      .gender {
        margin-bottom: 10px;
      }
      .signUp-hobby {
        display: flex;
        margin-bottom: 10px;
        div {
          flex: 1;
          padding-left: 2px;
        }
        label {
          display: flex;
          align-items: center;
        }
      }
      .signUp-button {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        button {
          font-size: 1.1rem;
          outline: none;
          border-radius: 6px;
          border: none;
          margin-bottom: 10px;
          padding: 8px 0;
          background: #0c89e8;
          color: white;
          transition: 0.4s all ease;
          cursor: pointer;
          &:hover {
            background: #002264;
          }
        }
      }
    }
  }
}
